{% extends 'base.html.twig' %}

{% block title %}Liste des véhicule{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <h1 class="text-center">Liste des véhicules</h1>

                {% for flashMessage in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                <table class="table">
                    <thead>
                    <tr class="active">
                        <th>Réferénce Véhicule</th>
                        <th>Kilométrage</th>
                        <th>Type de carburant</th>
                        <th>Lieu</th>
                        <th>Disponibilité</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for vehicule in list %}
                    <tr>
                        {% if is_granted("ROLE_ADMIN") %}
                            <td><a href="{{ path('voiture_suivi', {"id_voiture" : vehicule.id})}}">{{ vehicule.reference }}</a></td>
                        {% else %}
                            <td>{{ vehicule.reference }}</td>
                        {% endif %}
                        <td>{{ vehicule.kilometrage }} km</td>
                        <td>{{ vehicule.typeCarburant.type }}</td>
                        <td>{{ vehicule.lieu.lieu }}</td>
                        {% if vehicule.Disponibilite == 1 %}
                            <td class="dispo">Disponible</td>
                            <td><a href="{{ path('voiture_reservation', {"id_voiture" : vehicule.id})}}"><button type="button" class="btn btn-default">Reserver</button></a></td>
                        {% else %}
                            <td class="nonDispo">Non Disponible</td>
                            <td><a href="{{ path('retour', {"id_voiture" : vehicule.id})}}"><button type="button" class="btn btn-default">Retourner</button></a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('voiture_index') }}"><button type="button" class="btn btn-primary pull-right">
                    Ajouter un véhicule
                </button></a>
                <a href="{{ path('lieu_ajout') }}"><button type="button" class="btn btn-primary pull-right">
                        Ajouter un lieu
                </button></a>
                {% endif %}
                <a href="{{ path('conducteur_ajout') }}"><button type="button" class="btn btn-primary pull-right">
                        Ajouter un conducteur
                </button></a>
            </div>
        </div>
    </div>

{% endblock %}
