{% extends 'base.html.twig' %}

{% block title %}Suivi véhicule{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                {% if isVoiture == true %}

                <h1 class="text-center">Suivi du véhicule : {{ voiture.Reference }}</h1>

                 <h3 class="text-center">Consommation moyenne : {{ consoMoyenne|number_format(2) }} L/100km</h3>

                <table class="table">
                    <thead>
                    <tr class="active">
                        <th>Nom conducteur</th>
                        <th>Km parcourus</th>
                        <th>Litres carburant</th>
                        <th>Montant carburant</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reservation in reservations %}
                        <tr>
                            <td>{{ reservation.conduteur.nom }}</td>
                            <td>{{ reservation.km_parcourus }}km</td>
                            <td>{{ reservation.litres_carburant }}L</td>
                            <td>{{ reservation.montant_carburant }}€</td>
                            <td> {{ reservation.date|date("d/m/Y") }} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% else %}

                <h1 class="text-center">Cette voiture n'a pas de suivis</h1>

                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
